<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Review</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet"  type="text/css" href="../css/index.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/bar.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/report.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/drop-down.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/report2.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/popup-save.css"/>

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


  <style>

  .filter-txt{
    font-size:12px;
    color: #666;
  }

  .search-bar{
    float: left;
    margin-left: 240px;
    margin-top:30px;
  }

  .search-button{
    margin-left: 20px;
    right: 20%;
    background-color: #2f5971;
    border-radius: 20px;
    color: #FAFAFA;
    width: 75px;
    height: 30px;
    z-index: 1;
    border: none;
  }

  #demo{
    width: 180px;
    height: 25px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    border: 4px solid rgb(233, 233, 233);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    text-align: center;

  }
  .search-btn{
    margin-top: 30px;
    margin-left: 5px;
    float: left;
    font-size: 12px;
    color: #fff;
    background-color: #2F5971;
    font-weight: bold;
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 10px;
  }

  .btn_normal{
    display: inline;
    background-color: #F1F2EC;
    width: 70%;
    height: 60%;
    border:none;
    color:gray;
    /* margin-top: 60px; */
    /* margin-left:10px; */
    border-radius: 10px;
    cursor: pointer;
  }

  table{
    border:1px solid gray;
    border-collapse: collapse;
    border-radius: 15px;
    width:80%;
    height:200px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  tr, td{
    border:1px solid gray;;
  }

</style>
<script>
  $(function(){
    $('#search-button').click(function(){
      var date = $('#demo').val();
      $('#date').val(date);
      console.log($('#date').val());
      alert("날짜가 변경되었습니다.");
    })
  })
</script>
</head>


<body>
  <!-- 상단바   -->

  <div class="bar">
    <a href="/">
      <img width="155px" height="49px" style="top:0;padding-top:15px; padding-left: 25px; float:left;" src="../img/logo.gif">
    </a>

    <!-- 메뉴바 마우스 오버 -->
    <ul id="font" style="float:right; padding-right: 30px; padding-top:32px; color:gray;">
      <li><a href="/guest/gu_search">Search</a></li>
      <li><a href="/member/my_app">My app</a></li>
      <li><a href="/member/my_report">Report</a></li>
      <li><a href="/mypage/my_main">Mypage</a></li>
      <% if(session.loginData) { %>
        <div style="display:inline;">
          <li style="margin-right:7px;color:white;"><a href="/user/logout" style="color:white;">Logout</a></li>
        </div>

        <% } else { %>
          <li style="margin-right:12px;color:white;"><a href="/login/login" style="color:white;">Login</a></li>
          <% } %>
        </ul>

      </div>

      <br/>
      <hr/>

      <!-- 상단바 끝 -->

      <!-- 사이드 바 -->
      <div class="side-menu">
        <ol>

          <br/>
          <div id="otherapp_btn" class="app-name-box" style="display:inline; margin-top:20px;">
            <div style="margin-top:20px; width:180px;display:inline-block;">
              <span class="app-name"><%= my_app[0].app_name %></span>
            </div>
          </div>

          <!--다른 앱 선택 드롭다운-->
          <div style="position:absolute;">
            <div id="btn_toggle" class="dropdown" style=" position:fixed;">
              <button class="dropbtn dropbtn_click" style="right: 170px; top: 0px;">
                <span class="dropbtn_content dropbtn_click" style="margin-left: 20px;font-size:12px;">Other App</span>
                <span class="dropbtn_click" style=" font-size : 16px; float:right; color:#2f5971;">></span>
              </button>
              <div style="position:sticky; top:0;">
                <div class="dropdown-content" style="top:0;">
                  <% for(let i = 0; i < app_list.length; i++) { %>
                    <a href="/member/my_report?db_name='<%= app_list[i].db_name %>'"><div class="fastfood" onclick="showMenu(this.innerText)"><%= app_list[i].app_name %></div></a>
                    <%  } %>
                  </div>
                </div>

              </div>
            </div>

            <!-- 다른 앱 선택 드롭다운 끝 -->

            <div>
              <hr style="background-color: white;
              height: 1px;
              margin-top: 80px;
              margin-left: 5px;
              width: 190px;"/>
            </div>


            <!--<div style="display:inline;">
            <input type="image" class="other-app" id="otherapp_btn" src="../img/icon1.png"style="width:18px; height: 18px;">
          </div>-->


          <br/>
          <br/>
          <li><a class="menu" href="/member/my_search?db_name='<%= my_app[0].db_name %>'">전체리뷰 살펴보기</a></li>
          <li id="keyword-btn"><a class="menu" href="/member/my_wordcloud?db_name='<%= my_app[0].db_name %>'">리뷰 키워드</a></li>
          <li style="background-color:white;"><a style="color:black;"class="menu" href="/member/my_report?db_name='<%= my_app[0].db_name %>'">주제별 보고서 받기</a></li>
          <li><a class="menu" href="#">인기 많은 리뷰</a></li>
        </ol>
      </div>

      <!-- 사이드바 끝 -->


      <!-- 리모컨-->


      <div id="slidemenu">
        <div style="margin-top:20px; ">
          <span class="report-s"> 주제별 보고서 선택</span>
          <hr class="menu-hr">
        </div>


        <script>



        $(document).ready(function(){
          $('#otherapp_btn').click(function(){

            const btnElement
            = document.getElementById('otherapp_btn');
            const otherapp
            = document.getElementById('btn_toggle');

            if(otherapp.style.display=='none'){
              otherapp.style.display= 'inline';

            }else{
              otherapp.style.display='none';

            }

          })
        })




        </script>

        <p><label class="report-c"><input type='checkbox' value='selectall' onclick='selectAll(this)'/> 전체 선택 </label></p>

        <form method="post" action="/review/chart" target="targetURL2">
          <p><label class="report-c"><input class="report-c" type="checkbox" name="subject" value="DESIGN">  디자인</label></p>
          <br>
          <p><label class="report-c"><input class="report-c" type="checkbox" name="subject" value="PROFILE">  프로필</label></p>
          <br>
          <p><label class="report-c"><input class="report-c" type="checkbox" name="subject" value="RESOURCE"> 리소스 사용량</label></p>
          <br>
          <p><label class="report-c"><input class="report-c" type="checkbox" name="subject" value="SPEED">  속도 &nbsp</label></p>
          <br>
          <p><label class="report-c"><input class="report-c" type="checkbox" name="subject" value="SAFETY">  안정성 &nbsp</label></p>
          <br>
          <p><label class="report-c"><input class="report-c" type="checkbox" name="subject" value="REMOVE">  제거</label></p>
          <br>
          <p><label class="report-c"><input class="report-c" type="checkbox" name="subject" value="UPDATE">  업데이트</label></p>
          <br>
          <p><input id="reportBtn" class="report-btn keyword-btn" type="submit" value="보고서 검색"></p>
          <input type="hidden" value="<%= session.loginData %>" name="user_data">
          <input id="collection_name" type="hidden" value="<%= my_app[0].db_name %>" name="collection_name">
          <input type="hidden" value="<%= my_app[0].app_name %>" name="app_name">
          <input type="hidden" id="date" name="date" value=""/>
        </form>
      </div>

      <div class="search-bar" >

          <span class="filter-txt" style="padding-left:120px;"> 기간 설정 </span>
          <input type="text" id="demo" name="demo" value="" />

          <input type="hidden" name="app_name">
          <button style="display:inline;"class="search-button" id="search-button" type='submit'> SAVE </button>

      </div>

      <script>
      var today = new Date();

      var date = new Date();
      date.setMonth(date.getMonth() - 3);

      $(function () {
        $('#demo').daterangepicker({
          "locale": {
            "format": "YYYY-MM-DD",
            "separator": " ~ ",
            "applyLabel": "확인",
            "cancelLabel": "취소",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": ["일", "월", "화", "수", "목", "금", "토"],
            "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
            "firstDay": 1
          },
          "startDate": date,
          "endDate": today,
          "drops": "down"
        }, function (start, end, label) {
          console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        }
      );
    });

    </script>


    <div id="map" class="loadingImg"></div>

    <script>


    function selectAll(selectAll)  {
      const checkboxes
      = document.getElementsByName('subject');

      checkboxes.forEach((checkbox) => {
        checkbox.checked = selectAll.checked;
      })
    }


    // 기본 위치(top)값
    var floatPosition = parseInt($("#slidemenu").css('top'))

    // scroll 인식
    $(window).scroll(function() {

      // 현재 스크롤 위치
      var currentTop = $(window).scrollTop();
      var bannerTop = currentTop + floatPosition + "px";

      //이동 애니메이션
      $("#slidemenu").stop().animate({
        "top" : bannerTop
      }, 500);

    }).scroll();

    window.onload=()=>{
      document.querySelector('.dropbtn_click').onclick = ()=>{
        dropdown();
      }
      document.getElementsByClassName('fastfood').onclick = ()=>{
        showMenu(value);
      };
      dropdown = () => {
        var v = document.querySelector('.dropdown-content');
        var dropbtn = document.querySelector('.dropbtn')
        v.classList.toggle('show');
        dropbtn.style.borderColor = 'rgb(94, 94, 94)';
      }

      showMenu=(value)=>{
        var dropbtn_icon = document.querySelector('.dropbtn_icon');
        var dropbtn_content = document.querySelector('.dropbtn_content');
        var dropbtn_click = document.querySelector('.dropbtn_click');
        var dropbtn = document.querySelector('.dropbtn');

        dropbtn_icon.innerText = '';
        dropbtn_content.innerText = value;
        dropbtn_content.style.color = '#252525';
        dropbtn.style.borderColor = '#3992a8';
      }
    }
    window.onclick= (e)=>{
      if(!e.target.matches('.dropbtn_click')){
        var dropdowns = document.getElementsByClassName("dropdown-content");

        var dropbtn_icon = document.querySelector('.dropbtn_icon');
        var dropbtn_content = document.querySelector('.dropbtn_content');
        var dropbtn_click = document.querySelector('.dropbtn_click');
        var dropbtn = document.querySelector('.dropbtn');

        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    </script>

    <div class="iframe-preview" style="display:block;">
      <iframe id="targetURL2" onload="calcHeight();" name="targetURL2"  frameborder="0" scrolling="no" style="overflow-x:hidden; overflow:auto; width:100%; min-height:500px;"src="/review/chart">
      </iframe>
    </div>
    <a id="capture" style="display:hidden"></a>
    <!-- <img id="capture" style="display:hidden" src=""> -->

    <script type="text/javascript">
    //<![CDATA[
    function calcHeight(){
      //find the height of the internal page

      var the_height=
      document.getElementById('targetURL2').contentWindow.
      document.body.scrollHeight;

      //change the height of the iframe
      document.getElementById('targetURL2').height=
      the_height;

      //document.getElementById('the_iframe').scrolling = "no";
      document.getElementById('targetURL2').style.overflow = "hidden";
    }
    //
  </script>



  <div class="wrap" style="position:fixed; right: 30px; bottom: 30px;">
    <a href="#pop_info_1" class="btn_open myapp-btn">보고서 다운로드</a>
  </div>
  <div id="pop_info_1" class="pop_wrap" style="display:none;">
    <div class="pop_inner">
      <br/>
      <img src="../img/download.png"></img>
      <br/>
      <br/>
      <div class="container row">
        <!-- <div class="col-md-1">
        <p class="ok-txt">- 선택 기간 리뷰분석데이터를 csv 파일로 다운로드 할 수 있습니다.</p>
      </div>
      <div class="col-md-1">
      <p class="ok-txt" style="margin-top:10px;">- 주제별 보고서를 PDF 파일로 다운로드 할 수 있습니다.</p>
    </div> -->
    <table>
      <tr>
        <td style="width:60%"><p>원본 리뷰 데이터를 CSV 파일로 다운로드 할 수 있습니다.</p></td>
        <td style="width:40%"><button type="button" id="csv-dl" class="btn_normal">CSV 파일 다운로드</button></td>
      </tr>

      <tr>
        <td><p>주제별 보고서를 PDF 파일로 다운로드 할 수 있습니다.</p></td>
        <td><button type="button" id="pdf-dl" class="btn_normal">PDF 파일 다운로드</button></td>
      </tr>

      <tr>
        <td><p>주제별 보고서를 JPG 파일로 다운로드 할 수 있습니다.</p></td>
        <td><button type="button" id="jpg-dl" class="btn_normal">JPG 파일 다운로드</button></td>
      </tr>
    </table>

  </div>

  <span id="msg" style="color:black;"></span>
  <br/>

  <button type="button" class="btn_close">닫기</button>
</div>
</div>




<script>

$(function() {
  function Loading() {
    var maskHeight = $(document).height();
    var maskWidth  = window.document.body.clientWidth;

    var mask       = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
    var loadingImg ='';

    loadingImg +=" <div id='loadingImg'>";
    loadingImg +=" <img src='../../img/spinner.gif' style='position:absolute; z-index:9500; text-align:center; display:block; width:1000px; height:570px; margin-top:0px; margin-left:26%;'/>";
    loadingImg +="</div>";

    $('body')
    .append(mask)

    $('#mask').css({
      'width' : maskWidth,
      'height': maskHeight,
      'opacity' :'0.3'
    });

    $('#mask').show();

    $('.loadingImg').append(loadingImg);
    $('#loadingImg').show();
  }

  function closeLoading() {
    $('#mask, #loadingImg').hide();
    $('#mask, #loadingImg').remove();
  }

  $('#reportBtn').click(function(){
    if($('.report-c:checked').length == 0){
      alert("주제를 하나 이상 선택해주세요!");
      return false;
    }else{
      Loading();
    }
  })

  window.addEventListener( 'message', (e) => {
    // 전달 된 데이터
    console.log( e.data.functionName );

    // 부모창의 함수 실행
    if( e.data.functionName === 'closeLoading' ){
      closeLoading();
    }
  });

});
</script>



<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

<script>
$("#csv-dl").click(function(){
  var collection_name = $("#collection_name").val()
  location.href = "/review/chart/csv_download?collection_name=" + collection_name;
});

$("#jpg-dl").click(function(){
  html2canvas(document.querySelector('#targetURL2').contentWindow.document.body, {background :'#FAFAFA'}).then(function(canvas) {
    var el = document.getElementById("capture");
    el.href = canvas.toDataURL("image/jpeg");
    el.download = '리뷰보고서.jpg';
    el.click();
  });

});

$("#pdf-dl").click(function(){

  html2canvas(document.querySelector('#targetURL2').contentDocument.documentElement, {background :'#FAFAFA'}).then(function(canvas) {
    var imgData = canvas.toDataURL('image/jpeg');

    var imgWidth = 210; // 이미지 가로 길이(mm) A4 기준
    var pageHeight = imgWidth * 1.414; // 출력 페이지 세로 길이 계산 A4 기준
    var imgHeight = canvas.height * imgWidth / canvas.width;
    var heightLeft = imgHeight;
    var margin = 2;

    var doc = new jsPDF('p', 'mm', 'a4');
    var position = 0;

    // 첫 페이지 출력
    doc.addImage(imgData, 'jpeg', margin, position, imgWidth, imgHeight);
    heightLeft -= pageHeight;

    // 한 페이지 이상일 경우 루프 돌면서 출력
    while (heightLeft >= 20) {
      position = heightLeft - imgHeight;
      doc.addPage();
      doc.addImage(imgData, 'jpeg', margin, position, imgWidth, imgHeight);
      heightLeft -= pageHeight;
    }

    // 파일 저장
    doc.save('리뷰보고서.pdf');

  });

});

$(function() {

  var target = document.querySelectorAll('.btn_open');
  var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
  var targetID;


  // 팝업 열기
  for(var i = 0; i < target.length; i++){
    target[i].addEventListener('click', function(){
      targetID = this.getAttribute('href');
      document.querySelector(targetID).style.display = 'block';
    });
  }


  // 팝업 닫기
  for(var j = 0; j < target.length; j++){
    btnPopClose[j].addEventListener('click', function(){
      this.parentNode.parentNode.style.display = 'none';
    });
  }
});
</script>
</body>
</html>
