<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search</title>

  <link rel="stylesheet"  type="text/css" href="../css/index.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/bar.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/report.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/drop-down.css"/>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <style>

  a {
    text-decoration-line : none;
  }


  .keyword-search{
    padding-top: 10px;
    padding-left: 10px;
  }


  .filter-txt{
    font-size:12px;
    color: #666;
  }


  .select1{
    padding-right: 5px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
  }

  .hifilter{
    width:80px;
    list-style-type: none;
    font-size: 12px;
    margin-right: 8px;
    display: inline;
    padding-left: 10px;
    margin-top: 20px;
  }


  .filter-btn{
    width: 20px;
    height: 20px;
    font-size: 8px;
    background-color: #2F5971;
    color:white;
    border: none;
    border-radius: 5px;
  }
  .date-box {
    width: 200px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  }

  .bd00Bbs th a {
    background:url(../image/common/ico/arrow_0.gif) 100% 50% no-repeat;
    padding-right:16px;
    display:inline-block
  }
  .bd00Bbs th a.reverse {
    background:url(../image/common/ico/arrow_1.gif) 100% 50% no-repeat;
  }

  .iframe-preview{
    top:0;
    margin-left: 180px;
    display: inline;

  }

  #demo{
    width: 180px;
    height: 25px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    border: 4px solid rgb(233, 233, 233);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    text-align: center;

  }


  .search-button{
    margin-left: 20px;
    right: 20%;
    background-color: #2f5971;
    border-radius: 20px;
    color: #FAFAFA;
    width: 7%;
    height: 30px;
    z-index: 1;
    border: none;
  }

  .search-bar{
    margin-top:100px;
    margin-left:170px;
    background-image:url(../img/search-bar.png);
    background-size: contain;
    background-position: center center;
    height: 50px;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
  }

  .iframe-preview::-webkit-scrollbar{
    width: 12px;
  }

  .iframe-preview::-webkit-scrollbar-thumb {
     background-color: #BFBFBF;
     border-radius: 20px;
   }

   .iframe-preview::-webkit-scrollbar-track {
     background-color: none;
   }
</style>

</head>
<body>
  <!-- 상단바   -->

  <div class="bar">
    <a href="/">
      <img width="155px" height="49px" style="top:0;padding-top:15px; padding-left: 25px; float:left;" src="../img/logo.gif">
    </a>

    <!-- 메뉴바 마우스 오버 -->
    <ul id="font" style="float:right; padding-right: 30px; padding-top:32px; color:gray;">
      <li><a href="/guest/gu_search">Search</a></li>
      <li><a href="/member/my_app">My app</a></li>
      <li><a href="/member/my_report">Report</a></li>
      <li><a href="/mypage/my_main">Mypage</a></li>
      <% if(session.loginData) { %>
        <div style="display:inline;">
          <li style="margin-right:7px;color:white;"><a href="/user/logout" style="color:white;">Logout</a></li>
        </div>

      <% } else { %>
        <li style="margin-right:12px;color:white;"><a href="/login/login" style="color:white;">Login</a></li>
      <% } %>
      </ul>

      </div>

  <br/>
  <hr/>

  <!-- 상단바 끝 -->


  <!-- 사이드 바 -->
<div class="side-menu">
  <ol>

    <br/>
    <div id="otherapp_btn" class="app-name-box" style="display:inline; margin-top:20px;">
      <div style="margin-top:20px; width:180px;display:inline-block;">
        <span class="app-name"><%= my_app[0].app_name %></span>
      </div>
    </div>

    <!--다른 앱 선택 드롭다운-->
    <div style="position:absolute;">
      <div id="btn_toggle" class="dropdown" style=" position:fixed;">
        <button class="dropbtn dropbtn_click" style="right: 170px; top: 0px;">
          <span class="dropbtn_content dropbtn_click" style="margin-left: 20px;font-size:12px;">Other App</span>
          <span class="dropbtn_click" style=" font-size : 16px; float:right; color:#2f5971;">></span>
        </button>
        <div style="position:sticky; top:0;">
        <div class="dropdown-content" style="top:0;">
          <% for(let i = 0; i < app_list.length; i++) { %>
            <a href="/member/my_report?db_name='<%= app_list[i].db_name %>'"><div class="fastfood" onclick="showMenu(this.innerText)"><%= app_list[i].app_name %></div></a>
          <%  } %>
        </div>
        </div>

      </div>
    </div>

    <!-- 다른 앱 선택 드롭다운 끝 -->

      <div>
        <hr style="background-color: white;
        height: 1px;
        margin-top: 80px;
        margin-left: 5px;
        width: 190px;"/>
      </div>


    <br/>
    <br/>
    <li style="background-color:white;"><a  style="color:black;" class="menu" href="/member/my_search?db_name='<%= my_app[0].db_name %>'">전체리뷰 살펴보기</a></li>
    <li class="keyword-btn"><a class="menu" href="/member/my_wordcloud?db_name='<%= my_app[0].db_name %>'">리뷰 키워드</a></li>
    <li><a class="menu" href="/member/my_report?db_name='<%= my_app[0].db_name %>'">주제별 보고서 받기</a></li>
    <li><a class="menu" href="#">인기 많은 리뷰</a></li>
  </ol>
</div>

<!-- 사이드바 끝 -->


  <!-- 1. Review Crawling 리뷰 가져오기 -->

  <div class="search-bar">
    <form method="post" action="/review/url" target="targetURL2">
      <span class="filter-txt"> OS </span>
      <select id="os" name="os" class="select1">
        <option value="all" selected="selected">전체</option>
        <option value="android"> Google </option>
        <option value="ios"> Apple </option>
      </select>

      <span class="filter-txt" style="padding-left:10px;"> 별점 </span>
      <select id="star" name="star" class="select1">
        <option value="0" selected="selected">전체</option>
        <option value="1">1점 이상</option>
        <option value="2">2점 이상</option>
        <option value="3">3점 이상</option>
        <option value="4">4점 이상</option>
        <option value="5">5점 이상</option>
      </select>

      <span class="filter-txt" style="padding-left:10px;"> 기간 설정 </span>
      <input type="text" id="demo" name="demo" style="font-size:12px;color: gray;"/>

      <span class="filter-txt" style="padding-left:10px;"> 키워드 검색 </span>
      <input class="input-box" style="width:200px; font-size:12px; textalign:center; padding-left:10px;" id="filter" name="filter" maxlengh="10" placeholder=" 키워드를 입력하세요" />

      <input type="hidden" name="app_name" value="<%= my_app[0].app_name %>">
      <button style="display:inline;"class="search-button search-box keyword-btn" id="search-button" type='submit'> SEARCH </button>


    </form>
  </div>



      <script>


      $(document).ready(function(){
        $('#otherapp_btn').click(function(){

        const btnElement
        = document.getElementById('otherapp_btn');
        const otherapp
        = document.getElementById('btn_toggle');

        if(otherapp.style.display=='none'){
          otherapp.style.display= 'inline';

        }else{
          otherapp.style.display='none';

        }

      })

        $("#searchAndroid").click(function (){
          $("#os").val('android');
          if($("#app_name").val() == ""){
            alert("앱 이름을 입력해주세요!");
            return false;
          }
        });

        $("#searchIOS").click(function (){
          $("#os").val('ios');
          if($("#app_name").val() == ""){
            alert("앱 이름을 입력해주세요!");
            return false;
          }
        });
      });

      var today = new Date();

      var date = new Date();
      date.setMonth(date.getMonth() - 3);

        $(function () {
                    $('#demo').daterangepicker({
                        "locale": {
                            "format": "YYYY-MM-DD",
                            "separator": " ~ ",
                            "applyLabel": "확인",
                            "cancelLabel": "취소",
                            "fromLabel": "From",
                            "toLabel": "To",
                            "customRangeLabel": "Custom",
                            "weekLabel": "W",
                            "daysOfWeek": ["일", "월", "화", "수", "목", "금", "토"],
                            "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                            "firstDay": 1
                        },
                        "startDate": date,
                        "endDate": today,
                        "drops": "down"
                    }, function (start, end, label) {
                        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
                      }
                    );
                });

      </script>

    </form>
  </div>

  <br/>

  <div style="float:left;margin-top:10px;">

  <ul class="hifilter" style="margin-left:900px;">날짜 정렬
    <input type='button' class="filter-btn" id='date-button' naem='condition' onclick='changeBtnName1()' value='▼'/>
    <input type="hidden" id="hiddenDate" value="-DATE"/>
  </ul>


  <ul class="hifilter">별점 정렬
    <input type='button' class="filter-btn" id='star-button' naem='condition' onclick='changeBtnName2()'value='▼'/>
    <input type="hidden" id="hiddenStar" value="-STAR"/>
  </ul>

  <ul class="hifilter">추천수 정렬
    <input type='button' class="filter-btn" id='like-button' naem='condition' onclick='changeBtnName3()' value='▼'/>
    <input type="hidden" id="hiddenLike" value="-LIKE"/>
  </ul>

  </div>

  <script>

  <!-- 날짜 정렬 -->

    function changeBtnName1() {
      console.log($('#name').val());
      const btnElement
      = document.getElementById('date-button');
      const realVal
      = document.getElementById('hiddenDate');

      if(btnElement.value == "▼"){
        btnElement.value = "▲";
        realVal.value = "DATE";
        document.targetURL2.location.href="/search/re_search?app_name=&star="+$('#star').val()+"&filter="+$('#filter').val()+"&os="+$('#os').val()+"&condition=DATE&date="+$('#demo').val();
      }else{
        btnElement.value = "▼";
        realVal.value = "-DATE";
        document.targetURL2.location.href="/search/re_search?app_name=&star="+$('#star').val()+"&filter="+$('#filter').val()+"&os="+$('#os').val()+"&condition=-DATE&date="+$('#demo').val();
      }
    }

  <!-- 날짜 정렬 -->


  <!-- 별점 정렬 -->

    function changeBtnName2() {
      const btnElement
      = document.getElementById('star-button');
      const realVal
      = document.getElementById('hiddenStar');

      if(btnElement.value == "▼"){
        btnElement.value = "▲";
        realVal.value = "STAR";
        document.targetURL2.location.href="/search/re_search?app_name=&star="+$('#star').val()+"&filter="+$('#filter').val()+"&os="+$('#os').val()+"&condition=STAR&date="+$('#demo').val();
      }else{
        btnElement.value = "▼";
        realVal.value = "-STAR";
        document.targetURL2.location.href="/search/re_search?app_name=&star="+$('#star').val()+"&filter="+$('#filter').val()+"&os="+$('#os').val()+"&condition=-STAR&date="+$('#demo').val();
      }
    }

  <!-- 별점 정렬 -->


  <!-- 추천수 정렬 -->

    function changeBtnName3() {
      const btnElement
      = document.getElementById('like-button');
      const realVal
      = document.getElementById('hiddenLike');

      if(btnElement.value == "▼"){
        btnElement.value = "▲";
        realVal.value = "LIKE";
        document.targetURL2.location.href="/search/re_search?app_name=&star="+$('#star').val()+"&filter="+$('#filter').val()+"&os="+$('#os').val()+"&condition=LIKE&date="+$('#demo').val();
      }else{
        btnElement.value = "▼";
        realVal.value = "-LIKE";
        document.targetURL2.location.href="/search/re_search?app_name=&star="+$('#star').val()+"&filter="+$('#filter').val()+"&os="+$('#os').val()+"&condition=-LIKE&date="+$('#demo').val();
      }
    }

  <!-- 추천수 정렬 -->

  </script>
  <script>

  window.onload=()=>{
        document.querySelector('.dropbtn_click').onclick = ()=>{
          dropdown();
        }
        document.getElementsByClassName('fastfood').onclick = ()=>{
          showMenu(value);
        };
        dropdown = () => {
          var v = document.querySelector('.dropdown-content');
          var dropbtn = document.querySelector('.dropbtn')
          v.classList.toggle('show');
          dropbtn.style.borderColor = 'rgb(94, 94, 94)';
        }

        showMenu=(value)=>{
          var dropbtn_icon = document.querySelector('.dropbtn_icon');
          var dropbtn_content = document.querySelector('.dropbtn_content');
          var dropbtn_click = document.querySelector('.dropbtn_click');
          var dropbtn = document.querySelector('.dropbtn');

          dropbtn_icon.innerText = '';
          dropbtn_content.innerText = value;
          dropbtn_content.style.color = '#252525';
          dropbtn.style.borderColor = '#3992a8';
        }
      }
      window.onclick= (e)=>{
        if(!e.target.matches('.dropbtn_click')){
          var dropdowns = document.getElementsByClassName("dropdown-content");

          var dropbtn_icon = document.querySelector('.dropbtn_icon');
          var dropbtn_content = document.querySelector('.dropbtn_content');
          var dropbtn_click = document.querySelector('.dropbtn_click');
          var dropbtn = document.querySelector('.dropbtn');

          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }

  </script>
  <script>
  $(function() {
  function Loading() {
    var maskHeight = $(document).height();
    var maskWidth  = window.document.body.clientWidth;

    var mask       = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
    var loadingImg ='';

    loadingImg +=" <div id='loadingImg'>";
    loadingImg +=" <img src='../../img/spinner.gif' style='position:absolute; z-index:9500; text-align:center; display:block; width:1000px; height:570px; margin-top:0px; margin-left:26%;'/>";
    loadingImg +="</div>";

    $('body')
    .append(mask)

    $('#mask').css({
      'width' : maskWidth,
      'height': maskHeight,
      'opacity' :'0.3'
    });

    $('#mask').show();

    $('.loadingImg').append(loadingImg);
    $('#loadingImg').show();
  }

  function closeLoading() {
    $('#mask, #loadingImg').hide();
    $('#mask, #loadingImg').remove();
  }

  $('#search-button').click(function(){
    Loading();
  })

  window.addEventListener( 'message', (e) => {
      // 전달 된 데이터
      console.log( e.data.functionName );

      // 부모창의 함수 실행
      if( e.data.functionName === 'closeLoading' ){
        closeLoading();
      }
  });

  });
  </script>


  <div id="map" class="loadingImg"></div>

  <br/>
  <br/>

  <div  class="iframe-preview"style="text-align: center; margin-top:50px; margin-left:75px;">
    <iframe id="targetURL2" name="targetURL2" class="iframe-preview" width="80%" height="700px" align="center" style="margin-left: 75px; margin-top: 50px; border:none; border-radius: 10px;" src="/review">
    </iframe>
  </div>


  <div>

    <br/>
    <hr/>
    <br/>





  </div>


  <br/>
  <br/>
  <br/>

</body>
</html>
